.page {
  padding: 5em;
  font-family: 'Courier New', Courier, monospace;
  background-color:bisque;
}

.intro {
  color: blue;
  text-align: center;
  margin: 5em;
}

.repos {
  color: green;
  text-align: center;
  margin: 5em;
}

.important {
  color: violet;
  font-style: italic;
}

img {
  width: 10%;
}

