.page {
  padding: 5em;
  font-family: 'Courier New', Courier, monospace;
}

.intro {
  color: blue;
  text-align: center;
}

.repos {
  color: green;
  text-align: center;
  margin: 10em;
}

.important {
  color: violet;
  font-style: italic;
}