.page {
  margin: 5px;
  padding: 5em;
  font-family: 'Courier New', Courier, monospace;
  background-color:rgb(222, 208, 190);
  border-color: black;
  border: 6px;
}

.intro {
  color: blue;
  text-align: center;
  margin: 5em;
  border-color: black;
  border: 5px;
}

.repos {
  color: green;
  text-align: center;
  margin: 5em;
}

.important {
  color: violet;
  font-style: italic;
}

img {
  width: 10%;
}

.about {
  color: blueviolet;
  text-align: center;
  margin: 5em;
}